{% extends '/front/base_front.html.twig' %}

{% block title %}.sportCo{% endblock %}

{% block body %}
    <div class="">
        {% include '_partials/front/_navbar.html.twig' %}

        {#
        HERO BANNER
        #}
        <div class="hero custom-screen mt-12">
            <div class="hero-content w-full flex-col lg:flex-row-reverse">
                <img src="{{asset('images/hero4.png')}}" class=" max-w-xs  lg:max-w-sm rounded-lg " />
                <div class="relative max-w-lg">
                  <div class="hidden md:block absolute top-0 -right-4 w-80 h-80 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
                    <div class="hidden md:block absolute -bottom-8 left-20 w-80 h-80 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
                    <div class="hidden md:block absolute top-0 -left-4 w-80 h-80 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
                    <h1 class="text-5xl font-bold">Votre application sportive de facturation en ligne !</h1>
                    <p class="relative py-6">Simplifiez la gestion de vos factures et devis avec notre solution tout-en-un. Notre outil en ligne vous permet de créer, envoyer et gérer vos factures et devis en quelques clics.</p>
                    <a  href="{{ path('app_register') }}" class="relative text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                        Nous rejoindre
                    </a>
                </div>
            </div>

        </div>
        {#
        END HERO BANNER
        #}

        <div class="divider my-32 custom-screen"></div>


        {#
        FEATURE SECTION
        #}
        <section>
            <div class="custom-screen relative gap-16 justify-between md:px-8 lg:flex">
                <div>
                    <div class="max-w-xl space-y-3">

                        <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                            Une solution simple pour une facturation facilité
                        </p>
                        <p class="text-justify">
                            Découvrez comment notre plateforme transforme la complexité de la facturation en un processus fluide et sans effort. Grâce à une interface épurée et intuitive, créez des factures professionnelles, envoyez-les instantanément et suivez leur paiement en temps réel, le tout depuis un seul et même endroit.
                        </p>

                    </div>
                    <div class="mt-12 max-w-lg lg:max-w-none">
                        <ul class="space-y-8">
                            <div>
                                <li class="flex gap-x-4">
                                    <div>
                                        <h4 class="text-lg text-gray-800 font-semibold" x-text="item.title"></h4>
                                        <p class="mt-3" x-text="item.desc"></p>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="mt-12 z-10 relative lg:mt-0">
                    <img src="{{ asset('images/dash2.png') }}" class="w-full  rounded-lg border"/>
                </div>
                <div class="hidden md:absolute top-0 -left-4 w-40 h-40 lg:w-80 lg:h-80 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
                <div class="hidden md:absolute z-0 -bottom-24 -left-20 w-40 h-40 lg:w-80 lg:h-80 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
            </div>
        </section>
        <div class="divider my-32 custom-screen"></div>


        <section>
            <div class="custom-screen  text-gray-600 md:px-8">
                <div class="relative  mx-auto">
                    <div class="relative z-10">
                        <h3 class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                            Nos fonctionnalités
                        </h3>
                        <p class="mt-3">
                            Explorez la richesse de nos fonctionnalités, conçues pour répondre à tous vos besoins. De la gestion au suivi, tout est à portée de main.
                        </p>
                    </div>
                    <div class="absolute inset-0 max-w-xs mx-auto h-44 blur-[50px]" style="background: linear-gradient(152.92deg, rgba(192, 132, 252, 0.2) 4.54%, rgba(232, 121, 249, 0.26) 34.2%, rgba(192, 132, 252, 0.1) 77.55%)" }></div>
                </div>
                <div class="relative mt-12">
                    <ul class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>
                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Gestion des employés
                            </h5>
                            <p class="mt-2 text-base">
                                Simplifiez la gestion de votre équipe avec des outils intuitifs pour ajouter, organiser et gérer les rôles des employés au sein de votre entreprise
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>

                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Gestion des clients
                            </h5>
                            <p class="mt-2 text-base">
                                Maintenez une relation clientèle impeccable grâce à une gestion centralisée des clients, permettant un suivi facile et une communication fluide.
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>
                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Gestion des factures et devis
                            </h5>
                            <p class="mt-2 text-base">
                                Optimisez votre processus de facturation avec notre système simplifié pour créer, envoyer, et suivre factures et devis en quelques clics
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>
                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Gestion des paiements
                            </h5>
                            <p class="mt-2 text-base">
                                Assurez une gestion des paiements sans faille, permettant de suivre les transactions, de gérer les retards de paiement et d'optimiser la trésorerie.
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>
                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Envoi de mail automatisé
                            </h5>
                            <p class="mt-2 text-base">
                                Automatisez votre communication grâce à l'envoi de mails personnalisés, garantissant un contact régulier et pertinent
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>
                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Gestion de rapports financiers
                            </h5>
                            <p class="mt-2 text-base">
                                Prenez des décisions éclairées grâce à des rapports financiers détaillés, vous offrant une analyse approfondie de la santé financière de votre entreprise
                            </p>
                        </li>
                        <li class="bg-white space-y-3 p-4 border rounded-lg">
                            <div class="flex items-center mb-4 text-indigo-600">
                                <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                                    <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                                </svg>

                            </div>
                            <h5 class="text-lg font-semibold text-gray-800">
                                Dashboard
                            </h5>
                            <p class="mt-2 text-base">
                                Visualisez les performances clés de votre entreprise.
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        {#
        END FEATURE SECTION
        #}


        {#
        Princing SECTION
        #}

        <div class="divider my-32 custom-screen"></div>

        <section>
            <div class="">
                <section class='relative py-14'>
                    <div class="absolute top-0 w-full h-[521px]" style="background: linear-gradient(152.92deg, rgba(192, 132, 252, 0.2) 4.54%, rgba(232, 121, 249, 0.17) 34.2%, rgba(192, 132, 252, 0.1) 77.55%)"></div>
                    <div class="max-w-screen-xl mx-auto text-gray-600 sm:px-4 md:px-8">
                        <div class='relative max-w-xl mx-auto space-y-3 px-4 sm:text-center sm:px-0'>
                            <h3 class="text-indigo-600 font-semibold">
                                Tarifs
                            </h3>
                            <p class='text-gray-800 text-3xl font-semibold sm:text-4xl'>
                                Votre parcours, nos offres
                            </p>
                            <div class='max-w-xl'>
                                <p>
                                    Avec notre offre gratuite, démarrez sans frais, et optez pour notre version payante quand vous êtes prêt à accélérer.
                                </p>
                            </div>
                        </div>
                        <div class='mt-16 flex flex-col gap-4 justify-center sm:flex sm:flex-row sm:gap-4'>
                            <div class="relative flex-1 flex items-stretch flex-col mt-6 mb-6 sm:mt-0 sm:rounded-xl sm:max-w-md bg-white shadow-lg sm:border">
                                <div class="p-4 py-8 space-y-4 border-b md:p-8">
                                    <span class='text-indigo-600 font-medium'>Freemium</span>
                                    <div class='text-gray-800 text-3xl font-semibold'>
                                        <span>0€</span> <span class="text-xl text-gray-600 font-normal">/m</span>
                                    </div>
                                    <p>Découvrez nos fonctionnalités de base sans frais.</p>
                                    <button class='px-3 py-3 rounded-lg w-full font-semibold text-sm duration-150 text-white bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-700'>
                                        Démarrer
                                    </button>
                                </div>
                                <ul class='p-4 py-8 space-y-3 md:p-8'>
                                    <li class="pb-2 text-gray-800 font-medium">
                                        Fonctionnalités
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des employés</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des clients</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des produits</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Générération de 5 devis par mois</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Génération de 5 factures par mois</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="relative flex-1 flex items-stretch flex-col mt-6 mb-6 sm:mt-0 sm:rounded-xl sm:max-w-md bg-white shadow-lg border">
                                <div class="p-4 py-8 space-y-4 border-b md:p-8">
                                    <span class='text-indigo-600 font-medium'>Premium</span>
                                    <div class='text-gray-800 text-3xl font-semibold'>
                                        <span>15€</span> <span class="text-xl text-gray-600 font-normal">/m</span>
                                    </div>
                                    <p>Toutes les fonctionnalités avancées, sans limites.</p>
                                    <button class='px-3 py-3 rounded-lg w-full font-semibold text-sm duration-150 text-white bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-700'>
                                        Démarrer
                                    </button>
                                </div>
                                <ul class='p-4 py-8 space-y-3 md:p-8'>
                                    <li class="pb-2 text-gray-800 font-medium">
                                        Fonctionnalités
                                    </li>
                                    <!-- Features for Startup -->
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des employés</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des clients</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Gestion des produits</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Générération de devis illimité !</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Générération de factures illimité !</span>
                                    </li>
                                    <li class='flex items-center gap-5'>
                                        <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 text-indigo-600' viewBox='0 0 20 20' fill='currentColor'>
                                            <path fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'></path>
                                        </svg>
                                        <span>Relance de paiements automatique de vos clients</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>



        {% include '_partials/front/_footer.html.twig' %}
    </div>
{% endblock %}

