{% extends '/front/base_front.html.twig' %}

{% block title %}.sportCo{% endblock %}

{% block body %}
<div class="">
    {% include '_partials/front/_navbar.html.twig' %}
    
    {# 
        HERO BANNER
    #}
    <div class="hero custom-screen mt-12 ">
        <div class="hero-content  w-full flex-col lg:flex-row-reverse">
            <img src="{{asset('images/hero4.png')}}" class="max-w-sm rounded-lg " />
            <div class=" max-w-lg">
            <h1 class="text-5xl font-bold">Vore application de facture en ligne !</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <button class="btn btn-primary">Nous rejoindre</button>
            </div>
        </div>
        <div
    class="absolute inset-0 blur-sm h-[580px] z-0"
    style="
      background: linear-gradient(
        143.6deg,
        rgba(192, 132, 252, 0.25) 20.79%,
        rgba(249, 199, 121, 0.26) 40.92%,
        rgba(204, 171, 238, 0.15) 70.35%
      );
    "
  ></div>
    </div>
    {# 
       END HERO BANNER
    #}



    {# 
       FEATURE SECTION
    #}
    <section class=" pt-20"
  x-data="{ features: [{ icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'>
  <path stroke-linecap='round' stroke-linejoin='round' d='M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z'/></svg>`, title: 'Analytics', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.' }, { icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z'/></svg>`,
   title: 'Datacenter security', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.' }] }"
>
  <div
    class="custom-screen gap-16 justify-between md:px-8 lg:flex mt-24"
  >
    <div>
      <div class="max-w-xl space-y-3">
        
        <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
          Une solution simple pour une facturation facilité
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          congue, nisl eget molestie varius, enim ex faucibus purus
        </p>
      </div>
      <div class="mt-12 max-w-lg lg:max-w-none">
        <ul class="space-y-8">
          <template x-for="(item, idx) in features" :key="idx">
            <li class="flex gap-x-4">
              <div
                class="flex-none w-12 h-12 bg-indigo-50 text-indigo-600 rounded-lg flex items-center justify-center"
                x-html="item.icon"
              ></div>
              <div>
                <h4
                  class="text-lg text-gray-800 font-semibold"
                  x-text="item.title"
                ></h4>
                <p class="mt-3" x-text="item.desc"></p>
              </div>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <div class="mt-12 lg:mt-0">
      <img
        src="https://raw.githubusercontent.com/sidiDev/remote-assets/main/Safari%20(Big%20Sur)%20-%20Light.png"
        class="w-full shadow-lg rounded-lg border"
      />
    </div>
  </div>
</section>



<section class="py-14">
  <div class="custom-screen  text-gray-600 md:px-8">
    <div class="relative  mx-auto">
      <div class="relative z-10">
        <h3 class="text-gray-800 text-3xl font-semibold sm:text-4xl">
          Nos fonctionnalités
        </h3>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          congue, nisl eget molestie varius, enim ex faucibus purus.
        </p>
      </div>
      <div
        class="absolute inset-0 max-w-xs mx-auto h-44 blur-[118px]"
        style="
          background: linear-gradient(
            152.92deg,
            rgba(192, 132, 252, 0.2) 4.54%,
            rgba(232, 121, 249, 0.26) 34.2%,
            rgba(192, 132, 252, 0.1) 77.55%
          );
        "
      ></div>
    </div>
    <div class="relative mt-12">
      <ul
        class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3"
        x-data="{ features: [
              {
                  icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>`,
                  title: 'Fast Refresh',
                  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
              },
              {
                  icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z' />
                  </svg>`,
                  title: 'Analytics',
                  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
              },
              {
                  icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z' />
                  </svg>`,
                  title: 'Datacenter security',
                  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
              },
              {
                  icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3' />
                  </svg>`,
                  title: 'Build on your terms',
                  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
              },
              {
                  icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h

0a11.959 11.959 0 00-8.402-3.714V2.714z' />
                  </svg>`,
                  title: '24/7 Support',
                  desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
              },
              {
                icon: `<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth={1.5} stroke='currentColor' class='w-6 h-6'>
                  <path strokeLinecap='round' strokeLinejoin='round' d='M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z' />
              </svg>`,
                title: 'Flexible',
                desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius.'
            }
          ] }"
      >
        
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
          <li class="bg-white space-y-3 p-4 border rounded-lg">
            <div
              class="flex items-center mb-4 text-indigo-600"
            >
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth='1.5' stroke='currentColor' class='w-6 h-6'>
                      <path strokeLinecap='round' strokeLinejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' />
                  </svg>
            
            </div>
            <h5
              class="text-lg font-semibold text-gray-800"
            >
              Fast Refresh
            
            </h5>
            <p class="mt-2 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius
            </p>
          </li>
        
      </ul>
    </div>
  </div>
</section>

{# 
       END FEATURE SECTION
    #}


{# 
        Princing SECTION
#}




<section
  x-data="{ 
    plans: [
    {
      name: 'Enterprise',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      price: 32,
      isMostPop: true,
      features: [
          'Curabitur faucibus',
          'massa ut pretium maximus',
          'Sed posuere nisi',
          'Pellentesque eu nibh et neque',
          'Suspendisse a leo',
          'Praesent quis venenatis ipsum',
          'Duis non diam vel tortor',
      ],
  },
  {
      name: 'Startup',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      price: 12,
      isMostPop: false,
      features: [
          'Curabitur faucibus',
          'massa ut pretium maximus',
          'Sed posuere nisi',
          'Pellentesque eu nibh et neque',
          'Suspendisse a leo',
          'Praesent quis venenatis ipsum',
          'Duis non diam vel tortor',
      ],
  },
    ]
  }"
>
  <div class="relative py-14 bg-gray-900">
    <div
      class="absolute inset-0 blur-[118px] max-w-lg h-[800px] mx-auto sm:max-w-3xl sm:h-[400px]"
      style="
        background: linear-gradient(
        143.6deg,
        rgba(192, 132, 252, 0.25) 20.79%,
        rgba(249, 199, 121, 0.26) 40.92%,
        rgba(204, 171, 238, 0.15) 70.35%
      );
      "
    ></div>
    <div
      class="relative max-w-screen-xl mx-auto text-gray-300 sm:px-4 md:px-8"
    >
      <div class="max-w-xl mx-auto space-y-3 px-4 sm:text-center sm:px-0">
        <h3 class="text-cyan-400 font-semibold">Pricing</h3>
        <p class="text-white text-3xl font-semibold sm:text-4xl">
          Abonnement
        </p>
        <div class="max-w-xl">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            efficitur consequat nunc.
          </p>
        </div>
      </div>
      <div class="mt-16 justify-center sm:flex">

          <div
            class="relative flex-1 flex items-stretch flex-col mt-6 border-2 sm:mt-0 sm:rounded-xl sm:max-w-md bg-gray-900 border-cyan-400 border-x-0 sm:border-x-2"
          >
            <div class="p-4 py-8 space-y-4 border-b border-gray-700 md:p-8">
              <span class="text-gray-200 font-medium">
              Freemium
              </span>
              <div class="text-cyan-400 text-3xl font-semibold">
                <span>35</span>
                <span class="text-xl font-normal">/mo</span>
              </div>
              <p class="text-gray-400" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <button
                class="px-3 py-3 rounded-lg w-full font-semibold text-sm duration-150 text-white bg-cyan-500 hover:bg-cyan-600 active:bg-cyan-700"
              >
                Get Started
              </button>
            </div>
            <ul class="p-4 py-8 space-y-3 md:p-8">
              
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    :class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    :class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    :class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    :class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
              
            </ul>
          </div>





          <div
            class="relative flex-1 flex items-stretch flex-col mt-6 border-2 sm:mt-0 sm:rounded-xl sm:max-w-md border-transparent"
          >
            <div class="p-4 py-8 space-y-4 border-b border-gray-700 md:p-8">
              <span class="text-gray-200 font-medium">
              Premium

              </span>
              <div class="text-cyan-400 text-3xl font-semibold">
                <span>0</span>
                <span class="text-xl font-normal">/mo</span>
              </div>
              <p class="text-gray-400" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <button
                class="px-3 py-3 rounded-lg w-full font-semibold text-sm duration-150 text-white bg-cyan-500 hover:bg-cyan-600 active:bg-cyan-700"
              >
                Get Started
              </button>
            </div>
            <ul class="p-4 py-8 space-y-3 md:p-8">
              
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    :class="{'text-cyan-600': item.isMostPop}"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    class="text-cyan-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    class="text-cyan-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>
                <li class="flex items-center gap-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    class="text-cyan-600"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span>Curabitur faucibus</span>
                </li>

              
            </ul>
          </div>
       
      </div>
    </div>
  </div>
</section>
  

    
    {% include '_partials/front/_footer.html.twig' %}
    </div>
{% endblock %}

