<nav class="fixed top-0  w-full bg-white border-b border-gray-200 lg:hidden dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start ">
        <a href="{{ path("platform_index") }}" class="flex ms-2 md:me-24">
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">SportCo</span>
        </a>
      </div>
        <div id="menuButton">
            <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 10H3"></path>
                <path d="M21 6H3"></path>
                <path d="M21 14H3"></path>
                <path d="M17 18H3"></path>
            </svg>
        </div>
    </div>
  </div>
</nav>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.addEventListener('click', function() {
        dropdownMenu.classList.toggle('hidden');
    });

    // Optionnel: Fermer le menu déroulant en cliquant en dehors
    window.addEventListener('click', function(e) {
        if (!dropdownButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
});
</script>

