<form method="post" action="{{ path('platform_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Supprimer
    </button>
</form>
