{% extends 'base.html.twig' %}

{% block title %}Administration!{% endblock %}

{% block body %}
   {% include '_partials/back/_platform_nav.html.twig' %}

   <div class="w-full p-4">
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
         <h1>Bienvenue sur ton interface d'adminstration !</h1>
      </div>
   </div>

{% endblock %}
