{% for user in users %}
    <span class="text-lg user-info">
        {{ user.email }}
    </span>
    <button class="add-user btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded ml-5"
            data-id="{{ user.id }}"
            data-email="{{ user.email }}"
          >
        Attribuer le devis à ce client
    </button>
{% endfor %}